.backtologin {
    width: 15%;
    padding: 10px;
    border: none;
    background-color: aquamarine;
    border-radius: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-order-split {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.success-btn {
    display: flex;
    justify-content: center;
}
