@use "../../../../scss/abstract/" as *;

// .containes {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     width: 100%;
//     // border: 2px solid red;
//     flex: 1;
//     overflow-y: auto;
//     .inside-container {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex: 1;
//         width: 100%;
//         border: 2px solid white;
//         margin: auto 0;
//         margin-top: 20px;
//     }
//     input {
//         border: 2px solid orangered;
//         color: orange;
//         // width: 100%;
//         background-color: white;
//     }
//     .btn-primarys
//     {
//         width: 45%;
//         border: none;
//         outline: none;
//         padding: 10px;
//         border-radius: 10px;
//         background-color: orange;
//         color: white;
//         cursor: pointer;
//         font-weight: bold;
//         @include xsBreakPoint
//         {
//             width: 50%;
//         }
//         @include smBreakPoint
//         {
//             width: 50%;
//         }
//         @include mdBreakPoint
//         {
//             width: 50%;
//         }
//     }
//     .btn-primarys:hover
//     {
//         color: white;
//         background-color: orange;
//     }
//     .kalais
//     {
//         margin-top: 5%;

//     }
//     .adds
//     {
//         color: orangered;
//         font-weight: bold;
//         text-align: center;
//         padding-top: 2%;
//         padding-bottom: 4%;
//     }
// }

.address-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    @include xsBreakPoint {
        height: auto;
    }
    @include smBreakPoint {
        height: auto;
    }
    @include mdBreakPoint {
        height: auto;
    }
    .inside-address {
        width: 100%;
        height: 100%;
        .title-address {
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            .orders-food {
                color: orangered;
                font-weight: bold;
            }
        }
        .bottom-section-address {
            width: 100%;

            .inside-bottom-address {
                width: 100%;
                height: 100%;
                display: flex;
                @include xsBreakPoint {
                    flex-direction: column;
                }
                @include smBreakPoint {
                    flex-direction: column;
                }
                @include mdBreakPoint {
                    flex-direction: column;
                }
            }

            .left-address {
                width: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                @include xsBreakPoint {
                    width: 100%;
                }
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }
                @include lgBreakPoint {
                    width: 100%;
                }
                @include xlBreakPoint {
                    width: 100%;
                }
                .bur {
                    width: 40%;
                }
            }
            .right-address {
                width: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                height: auto;
                // height: 100%;
                overflow-y: auto;
                // margin-bottom: 10%;
                //    background-color: red;
                @include xsBreakPoint {
                    width: 100%;
                }
                @include smBreakPoint {
                    width: 100%;
                }
                @include mdBreakPoint {
                    width: 100%;
                }
                @include lgBreakPoint {
                    width: 100%;
                }
                @include xlBreakPoint {
                    width: 100%;
                }

                .primarys {
                    width: 25%;
                    border: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: orange;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-bottom: 20px;
                    @include xsBreakPoint {
                        width: 50%;
                    }
                    @include smBreakPoint {
                        width: 50%;
                    }
                    @include mdBreakPoint {
                        width: 50%;
                    }
                }
                .primarys:hover {
                    color: white;
                    background-color: orange;
                }
            }
        }
    }
}

.cancels {
    background-color: red;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 30%;
}
.confirms {
    background-color: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    width: 30%;
}
.list-address {
    width: 60%;
    // align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    .names {
        padding-left: 30%;

        display: flex;
        flex-direction: column;
    }
}
